/* Reset básico para eliminar márgenes y paddings predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Incluye padding y borde en el tamaño total */
}

/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif; /* Fuente general de la página */
    line-height: 1.6; /* Altura de línea para mayor legibilidad */
    background-color: #f9f9f9; /* Color de fondo claro */
}

/* Estilo para el encabezado */
header {
    background-color: #4CAF50; /* Color verde para el fondo del encabezado */
    color: white; /* Color de texto blanco */
    text-align: center; /* Centrar texto */
    padding: 20px 0; /* Espaciado interno */
}

/* Estilo para la navegación */
nav ul {
    list-style-type: none; /* Sin viñetas */
    padding: 0; /* Sin padding */
    display: flex; /* Usar flexbox para el layout */
    justify-content: center; /* Centrar elementos horizontalmente */
}

nav ul li {
    margin: 0 30px; /* Espaciado entre los enlaces */
}

nav a {
    color: white; /* Color de texto blanco para enlaces */
    text-decoration: none; /* Elimina subrayado */
}

nav a:hover {
    text-decoration: underline; /* Subrayado al pasar el cursor */
}

/* Estilos para el footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}

.redes-sociales {
    display: flex; /* Usar flexbox para alinear horizontalmente */
    justify-content: center; /* Centrar los iconos */
    margin-bottom: 10px; /* Espacio debajo de las redes sociales */
}

.redes-sociales a {
    display: flex; /* Hacer que cada enlace se comporte como un contenedor flexible */
    align-items: center; /* Alinear verticalmente el icono y el texto */
    color: white;
    text-decoration: none;
    margin: 0 10px; /* Espaciado horizontal entre iconos */
}

.redes-sociales i {
    margin-right: 5px; /* Espacio entre el icono y el texto */
}


.enlace-formulario {
    color: white;
    text-decoration: none;
}

.enlace-formulario:hover {
    text-decoration: underline;
}

